*
{
	box-sizing: border-box;
} 

img
{
	max-width: 100%;
}

/* Barre de naviguation */

.navbar
{
	border-radius: 0px;
} 

/* Page accueil */

.container .row img
{
	display: block;
	margin: 0 auto;
}

/* Tchat */

.tchat
{
	display: inline-block;
}